# path:       /home/klassiker/.local/share/repos/st/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/st
# date:       2020-11-13T14:39:52+0100

/config.h
/st
/st.o
/x.o
